*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
}

.about-section{
    background :url(4.jpg) no-repeat left;
    background-size: 70%;
    background-color: cadetblue;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
p.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: normal;
    color: rgb(255, 178, 127);
}
